body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,76,9,0.6698879380853904) 84%, rgba(0,212,255,1) 100%);
  }
  
  .bg-black {
    background: #000;
  }
  
  .card-project:hover {
    border: 1px solid #181818;
    cursor: pointer;
  }

  img.grande{
    width: 250px;
    height: 250px;
  }